---
title: Hi, I'm Ian Li.
layout: default
---

<h1>
  Hi, I&rsquo;m <span class="logo-name">Ian Li</span><span style="font-size: .5em;">&nbsp;</span>.
</h1>

<hr class="space-lg">

<div class="row">
  <div class="col-sm-8">
    <div class="home-banner-img">
    </div>
    <p class="larger">
      I like making things. I like turning ideas into reality.
      On this website, I share my
      <a href="#projects">projects and designs</a>.
      I also included my <a href="#phd">research and writings</a>
      in grad school at Carnegie Mellon.
      Making things is also my daytime job as a UX engineer at Google.
    </p>
  </div>
</div>

<hr class="space-lg">

<nav class="content-nav">
  <a href="#projects">Projects</a>
  <a href="#phd">Ph.D.</a>
  <a href="#contact">Contact</a>
</nav>

<hr class="space-lg">

<div class="row">
  <div class="col-md-9 col-lg-8">
    <h2 id="projects">
      Projects
    </h2>

    <p>
      I've enjoyed making things since I was a kid.
      I turned everyday items into toys.
      A matchbox became a robot, scrapwood into a boomerang, a shampoo bottle into a hydroplane.
      As I've become older, the joy of making has remained with me, albeit with different materials.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    {% assign projects_by_date = site.projects | sort: 'date' | reverse %}
    {% for project in projects_by_date %}
      {% if project.content != "" %}
        <hr class="space-md">

        <div class="listing">
          <a href="{{ project.url }}"
              class="listing__link">
            <img src="images/projects/{{ project.badge }}">
          </a>
          <div class="text-p listing__body">
            <h5>
              <a href="{{ project.url }}">
                {{ project.title }}
                <span class="weight-normal color-b3"> / {{ project.date | date:'%Y' }}</span>
              </a>
            </h5>

            <hr class="space-xs">

            <p>
              {{ project.short }}
            </p>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
</div>

<hr class="space-lg">

<div
    id="phd"
    class="row">
  <div class="col-md-9 col-lg-8">
    <h2>
      Ph.D.
    </h2>

    <p>
      I was a Ph.D. student at <a href="https://www.cmu.edu">Carnegie Mellon University</a>
      in the <a href="https://hcii.cmu.edu">Human-Computer Interaction Institute</a> from 2004 to 2011.
      During that time, I developed and designed tools that help people track and visualize personal behavioral information.
      I called this research area, <a href="http://www.personalinformatics.org">personal informatics</a>.
      My work was advised by the wisdom and support of my advisors
      <a href="http://www.cs.cmu.edu/~anind/">Anind Dey</a> and
      <a href="http://jodiforlizzi.com/">Jodi Forlizzi</a>.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr class="space-md">

    <p>
      The following are some of my research papers.
      You can see all of my Ph.D. work at
      <a href="http://ianli.elbowpatched.io">my Elbowpatched page</a>.
    </p>

    {% for research in site.data.research %}
      <hr class="space-md">

      <div class="listing">
        <a href="/publications/{{ research.pdf }}"
            class="listing__link">
          <img src="images/phd/{{ research.badge }}">
        </a>
        <div class="text-p listing__body listing__body--padded">
          <h5>
            <a href="/publications/{{ research.pdf }}">
              {{ research.title }}
              <span class="weight-normal">({{ research.year }})</span>
            </a>
          </h5>
          <hr class="space-12">
          <p>
            {{ research.authors }}
          </p>
          <hr class="space-12">
          {{ research.meta | markdownify }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<hr class="space-lg">

<div
    id="contact"
    class="row">
  <div class="col-xs-12">
    <h2>
      Contact
    </h2>
  </div>
</div>

<hr class="space-md">

<div class="row">
  <div class="col-xs-12">
    <img class="img-rounded"
        src="/images/home/ianli_256.jpg"
        style="float: left;
          margin-right: 16px;
          width: 120px;">

    <hr class="space-xs">

    <p>
      ianli@ianli.com<br>
      <a href="https://github.com/ianli?tab=repositories">GitHub</a><br>
      <a href="https://scholar.google.com/citations?user=JS7sVyQAAAAJ">Google Scholar</a><br>
      <a href="https://twitter.com/ianli">Twitter</a>
    </p>
  </div>
</div>
