---
title: Hi, I'm Ian Li.
layout: default
---

<div class="row">
  <div class="col-xs-12">
    <h1>
      Hi, I&rsquo;m Ian Li.
    </h1>

    <p class="larger">
      I like making things. I like the process of turning an idea into reality whether it’s on paper or on a computer. On this personal site, I share the various
      <a href="#projects">projects</a> and
      <a href="#drawings">drawings</a> that I've made, including my
      <a href="#phd">research and writings</a> during my Ph.D. Making things is also my daytime job as a UX designer/engineer at Google.
    </p>

    <hr class="space-lg">

    <nav class="content-nav">
      <a href="#projects">Projects</a>
      <a href="#drawings">Drawings</a>
      <a href="#phd">PhD</a>
      <a href="#contact">Contact</a>
    </nav>
  </div>
</div>

<hr class="space-lg">

<div class="row">
  <div class="col-md-9 col-lg-8">
    <h2 id="projects">
      Projects
    </h2>

    <p>
      I've always liked to make things since I was little. Growing up in the Philippines, I didn't have many toys, so I had to improvise by making them. A matchbox and cardboard turned into a robot, scrapwood into a boomerang, shampoo bottle into a hydroplane. The joy of making has remained with me as I've become older, albeit with different materials. Here are some samples of projects that I've worked on.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    {% assign projects_by_date = (site.projects | sort: 'date') | reverse %}
    {% for project in projects_by_date %}
      {% if project.content != "" %}
        <hr class="space-md">

        <a href="{{ project.url }}"
            class="project-link">
          <h5>
            {{ project.title }}
          </h5>

          <hr class="space-xs">

          {% if project.badge %}
            <img
                class="project-img"
                src="/images/projects/{{ project.badge }}">
          {% endif %}

          <p>
            {{ project.short }}
          </p>
        </a>
      {% endif %}
    {% endfor %}

  </div>
</div>

<hr class="space-lg">

<div
    id="drawings"
    class="row">
  <div class="col-xs-12">
    <h2>
      Drawings
    </h2>

    <p>
      When I was young, I was obsessed with comic books (Spider-Man being my absolute favorite). I wanted to be able to draw from imagination without "copying". I thought comic book artists drew that way and so must I. Over time, my interest in comic books waned, but I continued to draw. Over the years, I even learned to paint from real life.
    </p>
  </div>
</div>

<hr class="space-lg">

<div
    id="phd"
    class="row">
  <div class="col-xs-12">
    <h2>
      Ph.D.
    </h2>

    <p>
      I was a Ph.D. student at Carnegie Mellon University in the Human-Computer Interaction Institute from 2004 to 2011. During that time, I worked on designing and developing tools that help people track and visualize information about their behavior. I eventually called this research area,
      <a href="http://www.personalinformatics.org">personal informatics</a>.
      My work was advised by the wisdom and support of my advisors
      <a href="http://www.cs.cmu.edu/~anind/">Anind Dey</a> and
      <a href="http://jodiforlizzi.com/">Jodi Forlizzi</a>.
    </p>

    <p>
      The following is my dissertation and some of my major papers.
    </p>

    <p>
      You can see all of my Ph.D. work on
      <a href="http://ianli.elbowpatched.io">my Elbowpatched page</a>.
    </p>
  </div>
</div>

<hr class="space-lg">

<div
    id="contact"
    class="row">
  <div class="col-xs-12">
    <h2>
      Contact
    </h2>

    <p>
      ianli@ianli.com<br>
      CV<br>
      <a href="https://github.com/ianli">GitHub</a><br>
      <a href="https://twitter.com/ianli">Twitter</a>
    </p>
  </div>
</div>
