.nav-header {
  padding-top: 32px;
  height: 192px;

  h1 {
    display: inline-block;

    @include text-default(24);

    border-bottom: 4px solid #03A9F4;

    a {
      color: #000;
      text-decoration: none;
    }
  }
}

.content-nav {
  padding-left: 24px;
  border-left: 8px solid #2196F3;

  &:before {
    content: 'Contents';
    display: block;
    @include text-default(16);
    color: #999;
  }

  a[href] {
    @include text-default(20);
    @include top-padding-for-text(20, 16px);
  }
}
