// Normalize
@import '../bootstrap/normalize';

// Bootstrap grid
@import '../bootstrap-grid/bootstrap-grid';

// Baseline typography
@import '../baseline/typography';

@import "mixins/img-retina";


//
// Home background
//

.home-page {
  background-position: center top;
  background-repeat: no-repeat;

  @include media-sm-up() {
    @include img-retina(
        '/images/home/bg_sm.png',
        '/images/home/bg_sm.2x.jpg',
        680px, 480px);
  }

  @include media-md-up() {
    @include img-retina(
        '/images/home/bg_md.png',
        '/images/home/bg_md.2x.jpg',
        820px, 600px);
  }

  @include media-lg-up() {
    @include img-retina(
        '/images/home/bg_lg.png',
        '/images/home/bg_lg.2x.jpg',
        1024px, 720px);

    h1 {
      @include text-default(64);
    }
  }

  @include media-xl-up() {
    @include img-retina(
        '/images/home/bg_xl.png',
        '/images/home/bg_xl.2x.jpg',
        1280px, 960px);
  }
}

.home-banner-img {
  float: right;
  margin-top: -198px;
  margin-right: -16px;
  margin-left: 12px;
  width: 148px;
  height: 440px;
  background-position: top left;
  background-repeat: no-repeat;
  shape-outside: ellipse(74px 220px at 50% 50%);

  @include media-sm-up() {
    display: none;
  }

  @include img-retina(
      '/images/home/bg_xs.png',
      '/images/home/bg_xs.2x.jpg',
      240px, 440px);
}


//
// Header nav
//

.header-nav {
  padding-top: 32px;

  @include media-xs-up() {
    height: 132px;
  }

  @include media-md-up() {
    height: 168px;
  }

  @include media-lg-up() {
    height: 192px;
  }

  h1 {
    display: inline-block;

    @include text-default(24);

    color: #000;
    border-bottom: 4px solid #03A9F4;

    a,
    a:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

//
// Content nav
//

.content-nav {
  padding-left: 24px;
  border-left: 6px solid #2196F3;

  &::before {
    content: 'Contents';
    display: block;
    @include text-default(16);
    color: #999;
    padding-bottom: 12px;
  }

  a[href] {
    display: block;
    @include text-default(20);
    // Replace the negative margin of text-default.
    margin: 0;
    // Replace the line-height of text-default.
    line-height: 40px;
  }
}

//
// Image
//

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 50%;
}

.img-shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, .2),
      0 3px 15px rgba(0, 0, 0, .10);
}

//
// Clearfix
//

.clearfix {
  @include clearfix();
}

//
// Project link
//

a.project-link,
a.project-link:hover {
  color: inherit;
  text-decoration: none;

  @include clearfix();
}

.project-img {
  float: left;
  margin-right: 16px;
  width: 80px;
  height: 80px;
  border-radius: 2px;
}

//
// Next and previous item
//

.previous-item,
.next-item {
  color: rgba(0, 0, 0, .33);

  a {
    display: block;
  }

  @include media-xs-up() {
    @include text-default($bl-h3-xs);
  }

  @include media-md-up() {
    @include text-default($bl-h3-md);
  }

  @include media-lg-up() {
    @include text-default($bl-h3-lg);
  }

  .separator {
    display: inline-block;
    background-color: #03a9f4;
    margin-bottom: 4px;
    width: 48px;
    height: 4px;
  }
}

.previous-item {
  text-align: left;
}

.next-item {
  text-align: right;

  .separator {
    right: 0;
  }
}

//
// Logo name
//

.logo-name {
  display: inline-block;
  position: relative;
  color: $text-color !important;

  &::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10%;
    height: 10%;
    background-color: #03a9f4;
  }
}

//
// Footer
//

footer {
  text-align: center;
}
